<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd83b3">  <td>21/12/14 15:48:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@88aa0cf0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@-296670365</td>   <td></td> </tr>
<tr bgcolor="a98864">  <td>21/12/14 15:48:24</td>   <td>4193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase2()[pri:1, instance:scripts.ClearTrip@88aa0cf0]">testCase2</td> 
  <td>main@-296670365</td>   <td></td> </tr>
<tr bgcolor="dd83b3">  <td>21/12/14 15:48:29</td>   <td>9031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@88aa0cf0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@-296670365</td>   <td></td> </tr>
<tr bgcolor="dd83b3">  <td>21/12/14 15:48:29</td>   <td>9402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@88aa0cf0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@-296670365</td>   <td></td> </tr>
<tr bgcolor="a98864">  <td>21/12/14 15:48:34</td>   <td>14108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.verify_Create_Round_Trip()[pri:1, instance:scripts.ClearTrip@88aa0cf0]">verify_Create_Round_Trip</td> 
  <td>main@-296670365</td>   <td></td> </tr>
<tr bgcolor="dd83b3">  <td>21/12/14 15:48:39</td>   <td>18869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@88aa0cf0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@-296670365</td>   <td></td> </tr>
</table>
