<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69af6c">  <td>21/12/14 15:49:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@fbf5ad40]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@-1045716157</td>   <td></td> </tr>
<tr bgcolor="6d7bd2">  <td>21/12/14 15:49:19</td>   <td>4905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.testCase2()[pri:1, instance:scripts.ClearTrip@fbf5ad40]">testCase2</td> 
  <td>main@-1045716157</td>   <td></td> </tr>
<tr bgcolor="69af6c">  <td>21/12/14 15:49:24</td>   <td>9878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@fbf5ad40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@-1045716157</td>   <td></td> </tr>
<tr bgcolor="69af6c">  <td>21/12/14 15:49:25</td>   <td>10247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScriptHandler.setUp()[pri:0, instance:scripts.ClearTrip@fbf5ad40]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@-1045716157</td>   <td></td> </tr>
<tr bgcolor="6d7bd2">  <td>21/12/14 15:49:29</td>   <td>14811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClearTrip.verify_Create_Round_Trip()[pri:1, instance:scripts.ClearTrip@fbf5ad40]">verify_Create_Round_Trip</td> 
  <td>main@-1045716157</td>   <td></td> </tr>
<tr bgcolor="69af6c">  <td>21/12/14 15:49:34</td>   <td>20076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScriptHandler.tearDown()[pri:0, instance:scripts.ClearTrip@fbf5ad40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@-1045716157</td>   <td></td> </tr>
</table>
